@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,900&family=Source+Sans+3:wght@200;400;600;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Source Sans 3', sans-serif;
}

a{
    text-decoration: none;
}

.bold {
    font-weight: 900;
}

.divisor {
    background-image: url(../Assets/3\ imagem.png);
    background-size: cover;
    width: 100vw;
    height: 20vh;
}

.espc {
    width: 100vw;
    height: 10vh;
    text-align: center;
}

.espc > h1 {
    font-weight: 100;
    color: #015dd5;
    font-size: 3vw;
}

.size {
    font-size: 5.5vw;
}

.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.menu-topo {
    width: 100vw;
    height: 75px;
    background-color: #015dd5af;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-topo > .logo > a > img {
    width: 150px;
    margin-left: 2vw;
}

.search{
    width: 200px;
}

.sessaoUm {
    width: 100vw;
    height: 100vh;
    background-image: url(../Assets/1\ imagem.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.redes {
    margin-right: 2vw;
}

.redes > a > img {
    width: 50px;
    margin: 10px 0px 10px 0px;
}

.text {
 width: 25vw;
 margin-left: 10vw;
 margin-top: 10vw;
}

.text > h1 {
    font-size: 3.5vw;
    font-weight: 100;
    color: white;
    line-height: 3.5vw;
}

.menu-secundario {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-secundario > a {
    margin: 1vw 2vw 0vw 2vw;
    color: white;
    font-size: 1.5vw;
}

.menu-secundario > a > img {
    width: 2vw;
}

.sessaoDois {
    width: 100vw;
    height: 100vh;
    background-image: url(../Assets/2\ imagem.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    flex-direction: row;
    color: white;
}

.sobreNos {
    width: 35vw;
    margin: 2vw 3vw 2vw 5vw;
}

.sobreNos > h1 {
    font-weight: 100;
    font-size: 5vw;
}

.sobreNos > p {
    font-size: 2vw;
}

.seta {
    position: absolute;
    padding: 20px;
    box-shadow: 2px -2px 0 1px white inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    left: 20vw;
    cursor: pointer;
  }

.sessaoTres {
    width: 100vw;
    height: 60vh;
    background-image: url(../Assets/seta\ fundo\ nossa\ historia.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
    display: flex;
    flex-direction: row;
}

.texto {
    width: 50vw;
    margin: 1
    vw;
    display: flex;
    flex-direction: row;
}

.texto > p {
    color: white;
    font-size: 2vw;
}



#toggleContainer label { 
    text-align: center;
    width: 70px;
  }
  
  #container {
    height: fit-content;
    width: 100vw;
    box-sizing: border-box;
    background-image: url(assets/seta\ fundo\ nossa\ historia.png);
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #toggleContainer {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95vw;
    position: absolute;
  }
  
  #tilesContainer {
    min-height: 10vh;
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: center;
    
  }
  
  .tileItem {
    width: 250px;
    height: 250px;
    margin: 5px;
    border-radius: 5px;
    
    transition: all 0.5s ease;
  }
  
  .tileItem:hover {
     transform: scale(1.05);
    transition: all 0.5s ease;
  }
  
  #galleryContainer { 
    height: 500px;
    width: 100vw;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
  }
  
  #toggle {
    height: 10vh;
    width: 200px;
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  #tilesView {
    min-height: 100vh;
    width: 100vw;
    background-image: url(assets/seta\ fundo\ nossa\ historia.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    
  }
  
  #galleryView {
    height: 65vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #outer3 {
    width: 100px;
    height: 40px;
    background-color: white;
    margin: 10px auto;
    border-radius: 3px;
    border: 2px solid white;
    transition: all 0.5s;
    display: none;
  }
  
  #slider3 {
    height: 36px;
    width: 46px;
    background-color: transparent;
    border-radius: 3px;  
    transition: all 0.5s;
    display: none;
  }
  
  #slider3.active {
    -webkit-transform: translatex(50px);
    -ms-transform: translatex(50px);
    -o-transform: translatex(50px);
    transform: translatex(50px);
    transition: all 0.5s;
    background-color: orange;
  }
  
  #outer3.outerActive {
    background-color: white;
    border: 2px solid white;
    transition: all 0.5s;
  }
  
  #mainView {
    height: 50vh;
    width: 60vw;  
    border-radius: 5px;
    background-color: #004badaf;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
    transition: all 1s;
    
  }
  
  #mainView:hover {
    transform: scale(1.1);
    transition: all 1s;   
  }
  
  #leftView {
    height: 400px;
    width: 150px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(5deg);
    transform-origin: top right;
    background-color: #eb9100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;  
    display: none;
  }
  
  #leftView:hover {
    opacity: 1;
    transition: all 1s;
  }
  
  #rightView {
    height: 400px;
    width: 150px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(-5deg);
    transform-origin: top left;
    background-color: #eb9100;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: all 1s;
   display: none;
  }
  
  #rightView:hover {
    opacity: 1;
    transition: all 1s;
  }
  
  .navBtns {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    position: absolute;
    opacity: 0.8;
    background-color: transparent;
    cursor: pointer;
    color: white;
  }
  
  .navBtns:hover {
    opacity: 1;
    transition: all 1s;
    background-color: #004badaf;
  }
  
  #navLeft {
    left: 50px;
  }
  
  #navRight {
    right: 50px;
  }
  



  