@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,900&family=Source+Sans+3:wght@200;400;600;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Source Sans 3', sans-serif;
}

a{
    text-decoration: none;
}

.bold {
    font-weight: 900;
}

.divisor {
    background-image: url(../Assets/3\ imagem.png);
    background-size: cover;
    width: 100vw;
    height: 20vh;
}

.size {
    font-size: 5.5vw;
}

.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.menu-topo {
    width: 100vw;
    height: 75px;
    background-color: #015cd3af;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-topo > .logo > a > img {
    width: 150px;
    margin-left: 2vw;
}

.search{
    width: 200px;
}

.sessaoUm {
    width: 100vw;
    height: 100vh;
    background-image: url(../Assets/1\ imagem.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.redes {
    margin-right: 2vw;
}

.redes > a > img {
    width: 50px;
    margin: 10px 0px 10px 0px;
}

.text {
 width: 25vw;
 margin-left: 10vw;
 margin-top: 10vw;
}

.text > h1 {
    font-size: 3.5vw;
    font-weight: 100;
    color: white;
    line-height: 3.5vw;
}

.menu-secundario {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-secundario > a {
    margin: 1vw 2vw 0vw 2vw;
    color: white;
    font-size: 1.5vw;
}

.menu-secundario > a > img {
    width: 2vw;
}

.sessaoDois {
    width: 100vw;
    height: 100vh;
    background-image: url(../Assets/2\ imagem.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    flex-direction: row;
    color: white;
}

.sobreNos {
    width: 30vw;
    margin: 2vw 3vw 2vw 5vw;
}

.sobreNos > h1 {
    font-weight: 100;
    font-size: 5vw;
}