.bannerAniversario {
    width: 100vw;
    height: 100vh;
    background-image: url(../Assets/BANNER-aniversario.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    overflow: hidden;
}

.aniver > h1 {
    font-size: 7vw;
    line-height: 6vw;
    text-align: center;
}

.month {
    font-size: 8vw;
}

.ano {
    width: 100vw;
    height: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    position: relative;
    top: 175px;
}



.ano > p {
    color: white;
    font-size: 6vw;
    line-height: 4.5vw;
    font-weight: 100;
    margin-right: 2vw;
}

.aniversariantes {
    width: 100vw;
    height: fit-content;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 53%, rgba(0,53,182,1) 82%);
}

.cards {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aniversariantes > h1 {
    color: #0047a5;
    font-weight: 100;
    font-size: 3.5vw;
}

.cardAniver {
    width: 20vw;
    height: 30vw;
    padding: 2vw;
    border-radius: 40px;
    box-shadow: 0 0 25px 1px #000000af;
    margin: 2vw ;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.cardAniver > .foto > img {
    width: 10vw;
    border-radius: 100%;
}

.cardAniver > .aniverNome > h2 {
    color: #0047a5;
    font-size: 1.5vw;
}

.cardAniver > .aniverDados > p {
    color: #0047a5;
    font-size: 1.5vw;
    text-align: left;
}

.cardAniver > .hojeChegando > h1 {
    font-weight: 100;
    align-content: baseline;
}

.boloData {
    width: 100vw;
    display: flex;
    justify-content: right;
    margin-right: 20vw;
    text-align: center;
    align-items: center;
}

.boloData > .data > h1 {
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 50px;
    padding: 0px 10px 0px 10px;
    margin-right: 5px;
    color: white;
    font-weight: 100;
}

.boloImagem > img {
    width: 5vw;
}

.previous {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next {
    display: flex;
    justify-content: center;
    align-items: center;
}